[Unit]
Description=Set audio volume to 100%
After=pipewire.service pipewire-pulse.service
Wants=pipewire.service pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=/opt/scripts/set-volume.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target